@model Ecole42WebUI.Areas.Admin.ViewModels.ProjectViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/34.1.0/super-build/ckeditor.js"></script>
    <script src="/js/update-project.js"></script>
}
@section heads{
    <link rel="stylesheet" href="~/css/myckeditor.css" />
}

<div class="container mt-0 ml-0">
    <form action="/admin/update-project" id="update-form" enctype="multipart/form-data" method="post">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Proje Ekle</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <input hidden name="ID" value="@Model.Project.ID" />
                    <div class="col-12 form-group">
                        <label for="Title">Proje Adı</label>
                        <input maxlength="100" type="text" value="@Model.Project.Title" name="Title" class="form-control" required />
                    </div>
                    <div class="col-12 form-group">
                        <label for="catID">Proje Kategorisi</label>
                        <select class="form-control" name="catID">
                            <optgroup label="Kategori seçiniz">
                                @foreach (var item in Model.Categories)
                                {
                                    if (Model.Project.CategoryID != item.ID) 
                                    {
                                        <option value="@item.ID">@item.Name</option>
                                    }
                                    else 
                                    { 
                                        <option selected value="@item.ID">@item.Name</option>
                                    }
                                }
                            </optgroup>
                        </select>
                    </div>
                    <div class="col-12 form-group">
                        <label for="ShortDescription">Kısa Açıklama</label>
                        <textarea id="editor1" data-id="@Model.Project.ID" name="ShortDescription"></textarea>
                    </div>
                    <div class="col-12 form-group">
                        <label for="Description">Açıklama</label>
                        <textarea id="editor2" data-id="@Model.Project.ID" name="Description"></textarea>
                    </div>

                </div>

            </div>
            <div class="card-footer d-sm-flex justify-content-between align-items-center">
                <button type="submit" class="btn btn-primary">Güncelle</button>
            </div>
        </div>
    </form>
</div>

